/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;
} */
.navbar {
  height: 80px;          /* fixed height */
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    background-color: #ffffff;
   

}

/* Left logo */
.navbar-left {
  display: flex;
  align-items: center;
}




.navbar-logo {
  height: 100%;
  max-height: 85px;      /* image grows but navbar doesn't */
  width: auto;
  object-fit: contain;
}


/* Right links */
.navbar-right {
  display: flex;
  gap: 25px;
}

.navbar-right a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: color 0.2s ease;
}

.navbar-right a:hover {
  color: #ff6a00; /* saffron-ish vibe */
}
